src/main/mule/case-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="case-prc-api_case-prc-api-main">
        <http:listener path="/api/*" config-ref="case-prc-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="case-prc-api-config"/>
    </flow>
    <flow name="case-prc-api_case-prc-api-console">
        <http:listener path="/console/*" config-ref="case-prc-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="case-prc-api-config"/>
    </flow>
    <flow name="patch:\sfdc-case\(caseId):application\json:case-prc-api-config">
		<flow-ref doc:name="case_patch-case" doc:id="c5c4c3cf-7384-4df1-b792-489a03e0b762" name="case_patch-case"/>
    </flow>
    <flow name="post:\case:application\json:case-prc-api-config">
		<flow-ref doc:name="case_post-case" doc:id="f97161f2-63ed-4ef3-ba56-02676a2c52a5" name="case_post-case"/>
    </flow>
</mule>
